@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  background: #bada55;
  font-family: "Roboto";
  font-weight: 500;
  text-transform: uppercase;
  color: #2e8612;
}

main {
  margin-inline: 10%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5%;
}

h1 {
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 300%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.hidden {
  display: none;
}

/*--------------- BURGER MENU ---------------*/

.burgermenu {
  border: solid;
  height: 7.2vh;
  border-top: none;
  border-inline: none;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  height: 35vh;
  top: 6.1vh;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #bada55;
  border: solid;
  border-color: #2e8612;

  z-index: 1;
  gap: 1rem;
  justify-content: space-around;
  transform: translateX(120%);
  transition: transform 0.5s ease-in-out;
  padding: 1rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.menu li a:hover {
  font-size: 1.5rem;
  transition: font-size 0.5s ease-in-out;
}

.burger {
  position: absolute;
  right: 5%;
  top: 2%;
  display: block;
  cursor: pointer;
}
.burger div {
  background-color: #2e8612;
  width: 2rem;
  height: 0.3rem;
  margin: 5px;
  border-radius: 3px;
}
.menu-active {
  display: block;
  transform: translateX(8%);
  /* z-index: 5; */
}

body {
  overflow-x: hidden;
}

/* --------------- RADIO BUTTONS ---------------*/
.radio-buttons {
  box-sizing: border-box;
  /* margin-inline: 5%; */
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li {
  position: relative;
  padding: 10px;
  padding-left: 40px;
  height: 30px;
}

a {
  text-decoration: none;
  color: white;
  border: solid;
  border-radius: 5px;
  padding: 1%;
  align-self: flex-end;
}

label:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  position: absolute;
  left: 7px;
  top: calc(50% - 13px);
  box-sizing: border-box;
  border-radius: 50%;
}

input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: calc(50% - 15px);
  cursor: pointer;
}

.bullet {
  position: relative;
  width: 25px;
  height: 25px;
  left: -3px;
  top: 2px;
  border: 5px solid #fff;
  opacity: 0;
  border-radius: 50%;
}

input[type="radio"]:checked ~ .bullet {
  position: absolute;
  opacity: 1;
  animation-name: explode;
  animation-duration: 0.35s;
}

.line {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
}

.line.zero {
  left: 11px;
  top: -21px;
  transform: translateY(20px);
  width: 2px;
  height: 10px;
}

.line.one {
  right: -7px;
  top: -11px;
  transform: rotate(-55deg) translate(-9px);
}

.line.two {
  right: -20px;
  top: 11px;
  transform: translate(-9px);
}

.line.three {
  right: -8px;
  top: 35px;
  transform: rotate(55deg) translate(-9px);
}

.line.four {
  left: -8px;
  top: -11px;
  transform: rotate(55deg) translate(9px);
}

.line.five {
  left: -20px;
  top: 11px;
  transform: translate(9px);
}

.line.six {
  left: -8px;
  top: 35px;
  transform: rotate(-55deg) translate(9px);
}

.line.seven {
  left: 11px;
  bottom: -21px;
  transform: translateY(-20px);
  width: 2px;
  height: 10px;
}

input[type="radio"]:checked ~ .bullet .line.zero {
  animation-name: drop-zero;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.one {
  animation-name: drop-one;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.two {
  animation-name: drop-two;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.three {
  animation-name: drop-three;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.four {
  animation-name: drop-four;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.five {
  animation-name: drop-five;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.six {
  animation-name: drop-six;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

input[type="radio"]:checked ~ .bullet .line.seven {
  animation-name: drop-seven;
  animation-delay: 0.1s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes explode {
  0% {
    opacity: 0;
    transform: scale(10);
  }
  60% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drop-zero {
  0% {
    opacity: 0;
    transform: translateY(20px);
    height: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(-2px);
    height: 0px;
    opacity: 0;
  }
}

@keyframes drop-one {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: rotate(-55deg) translate(9px);
    width: 0px;
    opacity: 0;
  }
}

@keyframes drop-two {
  0% {
    opacity: 0;
    transform: translate(-20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(9px);
    width: 0px;
    opacity: 0;
  }
}

@keyframes drop-three {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: rotate(55deg) translate(9px);
    width: 0px;
    opacity: 0;
  }
}

@keyframes drop-four {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: rotate(55deg) translate(-9px);
    width: 0px;
    opacity: 0;
  }
}

@keyframes drop-five {
  0% {
    opacity: 0;
    transform: translate(20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(-9px);
    width: 0px;
    opacity: 0;
  }
}

@keyframes drop-six {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: rotate(-55deg) translate(-9px);
    width: 0px;
    opacity: 0;
  }
}

@keyframes drop-seven {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    height: 10px;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(2px);
    height: 0px;
    opacity: 0;
  }
}

/* --------------- CTA BUTTONS ---------------- */

.CTA-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CTA-buttons a {
  align-self: flex-end;
  /* margin-top: 10%; */
}

button {
  font-size: 110%;
  color: #fff;

  background: #2e8612;
  padding: 18px 0 11px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  overflow: hidden;

  width: 120px;
  transform: translate(0%, 0%);
}

button span {
  display: block;
  position: relative;
  z-index: 10;
}

button:after,
button:before {
  padding: 18px 0 11px;
  content: "";
  position: absolute;
  top: 0;
  left: calc(-100% - 30px);
  height: calc(100% - 29px);
  width: calc(100% + 20px);
  color: #fff;
  border-radius: 2px;
  transform: skew(-25deg);
}

button:after {
  background: #fff;
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
  z-index: 0;
  opacity: 0.8;
}

button:before {
  background: #29ad6b;
  z-index: 5;
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

button:hover:after {
  left: calc(0% - 10px);
  transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

button:hover:before {
  left: calc(0% - 10px);
  transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

/* --------------- PAGE PRELOADER --------------- */

.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preload-button {
  position: relative;
}

.preloader-active {
  background-color: #29ad6b;
  position: absolute;
  top: 0;
  width: 100%;
  height: 130%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.preload-text {
  position: absolute;
  top: 35%;
}

.preload-text span {
  position: relative;
  display: inline-block;
}

.preload-text span::after {
  position: absolute;
  content: "";
  background: #bada55;
  left: 0;
  width: 100%;
  height: 100%;
  animation: reveal 1s infinite;
  transform-origin: right;
}

@keyframes reveal {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
